body {
    background-color: rebeccapurple;
    text-align: center;
}

img {
    width: 20%;
}

.container {
    display: inline-flex;
    justify-content: center;
    word-wrap: break-word;
}

.section-style {
    align: center;
    margin-right: 25px;
    margin-left: 25px;
    word-wrap: break-word;
}